#akhila {
  color: red;
}

#anila {
  color: purple;
}

.headerCSS {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo324grht {
  width: 250px;
}

.nav-items1 > ul {
  display: flex;
  list-style-type: none;
}

.nav-items1 > ul > li {
  padding: 10px;
  margin: 10px;
}
